.topbarContainer {
    background-color: #502200;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.topbarLeft {
    flex: 1.5;
    
    
}

.logo {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 20px;
    position: relative;
    top: 10px; /* 親要素から下に10px移動 */
    vertical-align: bottom; /* 文字を下に揃える */
    font-family: "Academy Engraved LET";
}

.topbarCenter {
    flex: 5;
}

.searchbar {
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 150px;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
    margin-right: 5px;
}

.searchInput {
    border: none;
    width: 80%;
}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    flex: 2;
    display: flex;
    align-items: right;
    justify-content: space-around;
    color: #f9f6ec;
    margin-left: 50px;
}

.topbarItemIcons {
    display: flex;
}


.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
}

.topbarIconBadge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #c09933;
    width: 15px;
    height: 15p;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}


.topbarImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: color;
}

.logoutButton {
    /* ボタンの背景色 */
  background-color: #f9f6ec; /* 緑色 */
  /* 文字色 */
  color: black;
  font-weight: bold;
  /* ボーダー */
  border: none;
  /* 角丸 */
  border-radius: 10px;
  /* パディング */
  padding: 10px 20px;

  margin-left: 20px;
  
  /* カーソル */
  cursor: pointer;
  /* ホバー時の効果 */
  &:hover {
    background-color: #7f6422; /* 暗めの緑色 */
}}
