.notificationsList {
    flex: 6;
    padding: 20px;
  }
  
  .notificationItem {
    width: 100%;
    box-shadow: 0px 15px 3px -5px #a28b8b;
    border-radius: 16px;
    margin: 20px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
  }
  
  .notificationItem:hover {
    box-shadow: none;
    transform: translateY(5px);
  }
  
  .acceptButton {
    padding: 8px 16px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .acceptButton:hover {
    background-color: #165cbb;
  }