.postDetail {
    display: flex;
    flex: 6;
    background-color: #f9f6ec;
}

.main{
    display:flex;
    flex-flow: column;
    margin-left: 40px;
    margin-right: 40px;
}


.mainWrapper {
    padding: 20px;
}