.postDetail {
    display: flex;
    width: 100%;
    background-color: #f9f6ec;
}

.main{
    display:flex;
    flex-flow: column;
}

.challengeSection{
    
}

.main {
    flex: 6;
}

.mainWrapper {
    padding: 20px;
}